.cta:link,
.cta:visited {
  text-decoration: none;
  text-transform: uppercase;
  background-color: $backgr-cta;
  color: $color-cta;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  min-width: 5rem;
  max-width: 15rem;
  font-weight: 500;

  &:hover {
    background-color: $backgr-cta-hover;
    cursor: pointer;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
  }
}
