.header {
  height: 5.5rem;
  background-color: $background-header;
  padding: 1rem;
  box-shadow: 0 6px 6px $box-shadow-color;
  padding-left: 2rem;
  padding-right: 2rem;
}

// container__main--right

.container__main {
  display: flex;
  &--left {
    background-color: rgb(247, 247, 247);
    height: 110vh;
    width: 60%;
  }
  &--right {
    background-color: rgb(247, 247, 247);
    height: 110vh;
    width: 40%;
  }
}

.container__sub {
  background-color: rgb(255, 255, 255);
  width: 100vh;
  height: 30vh;
}

.container__cards {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 30vh;
}
