@mixin card-element {
  background-color: rgb(247, 247, 247);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 1.5rem;
  gap: 2rem;
  height: 22rem;
}
