$background-header: rgb(255, 255, 255);
$backgr-cta: #951010;
$color-cta: #ffffff;
$box-shadow-color: #9b9b9b;
$font-color: rgb(86, 84, 102);
$backgr-cta-hover: #242253;
$font-color-h1: rgb(52, 48, 48);
$font-color-h3: #951010;
$letter-spacing-h1: 0.5rem;
$color: 3s;
